<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite" parallel="classes" thread-count="3">

    <test name="Main Tests">
        <classes>
            <class name="testRunners.TestRunner"/>
        </classes>
    </test>


</suite>
<!--<suite name="Rerun Suite">-->

<!--<test name="Failed Scenarios">-->
<!--    <classes>-->
<!--        <class name="testRunners.Rerun"/>-->
<!--    </classes>-->
<!--</test>-->

<!--</suite>-->


